::-webkit-scrollbar{
  width: 11px;
  height: 20px;
  background-color: rgb(246, 246, 246);
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(90deg, #3a47d5 0%,#00d2ff 100%);
}

/* loader */
/* HTML: <div class="loader"></div> */
.loader {
  --c:no-repeat linear-gradient(rgb(15, 27, 255) 0 0);
  background: 
    var(--c),var(--c),var(--c),
    var(--c),var(--c),var(--c),
    var(--c),var(--c),var(--c);
  background-size: 16px 16px;
  animation: 
    l32-1 1s infinite,
    l32-2 1s infinite;
}
@keyframes l32-1 {
  0%,100% {width:45px;height: 45px}
  35%,65% {width:65px;height: 65px}
}
@keyframes l32-2 {
  0%,40%  {background-position: 0 0,0 50%, 0 100%,50% 100%,100% 100%,100% 50%,100% 0,50% 0,  50% 50% }
  60%,100%{background-position: 0 50%, 0 100%,50% 100%,100% 100%,100% 50%,100% 0,50% 0,0 0,  50% 50% }
}

.scrollbar::-webkit-scrollbar{
  display: none;
}
.transitionBtn{
  transition: all 0.3s;
}
/* .navbar{
  position: sticky;
  top: 0;
  z-index: 99999;
}  */
.nav-heading{
  color: whitesmoke;
}

input:focus::placeholder{
  color: #3a47d5;
  transition: all 0.5s;
  padding-left: 3%;
}
option{
  color: #3a47d5;
  font-weight: 600;
}

.heading{
   color: #00d2ff;
   font-weight: bold;
   text-align: center;
   font-size: 35px;
   margin-top: 8%;
}
.headingCart{
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  margin-top: 3%;
  margin-bottom: 5%;
}
/* cards styling start */
.cartDiv{
  transition: all 0.5s;
}
.cartDiv:hover{
  border-color: #00d2ff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.5s;
}
.card{
  margin-top: 2%;
  margin-bottom: 2%;
  width: 380px;
  transition: all 0.5s;
}
.card:hover{
  border-color: #00d2ff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.5s;
}
.cardTitle{
  height: 5vh;
  overflow: scroll;
}
.cardTitle::-webkit-scrollbar{
  display: none;
}
.image{
  display: flex;
  justify-content: center;
}
.image img{
  width: 100%;
  height: 40vh;
}
.desc{
  height: 12vh;
  overflow: scroll;
  margin-top: 5%;
}
.desc::-webkit-scrollbar{
  display: none;
}
.btn{
  width: 50%;
  /* background: linear-gradient(90deg, #3a47d5 0%,#00d2ff 100%); */
  transition: all 0.5s;
}
.btn:hover{
  transition: all 0.5s;
}
.LINK{
  width: 50%;
}
/* cards styling end */

/* Cart Details Styling Start */
.detailContainer{
  border: 1px solid lightgray;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin-top: 3%;
  width: 76% !important;
  height: 70vh;
  overflow: scroll;
}
.detailContainer:hover{
  border-color: #00d2ff;
}
.detailContainer::-webkit-scrollbar{
  display: none;
}
.detailImg{
  width: 310px !important;
  height: 35vh !important;
  margin-top: 15%;
}
.detailCartbtn{
  border-radius: 7px;
  transition: all 0.5s;
}
.detailCartbtn:hover{
  transition: all 0.5s;
}
/* Cart Details Styling End */

/* Login/Signup Form Styling Start */
.loginForm{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  width: 30vw;
  border-radius: 13px;
  border: 1px solid lightgray;
}
.signupForm{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  width: 30vw;
  border-radius: 13px;
  border: 1px solid lightgray;
}
.loginForm:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.5s;
}
.input{
  border: 1px solid lightgray;
  transition: all 0.5s;
}
.input:focus::placeholder{
  color: #3a47d5;
  padding: 0;
}
.input:focus{
  border-color: #3a47d5;
  outline: none;
  box-shadow: 0px 0px 4px #3a47d5;
}
.loginSignupBtn{
  width: 100%;
  transition: all 0.5s;
}
.loginSignupBtn:hover{
  transition: all 0.5s;
}
/* Login/Signup Form Styling End */

/* Responsiveness Start */
@media(max-width:1024px){
  .adminContainer1{
    width: 270px !important;
  }
  .adminHeading{
    font-size: 13.5px !important;
  }
  .adminImg{
    width: 200px;
  }
  .adminBtn{
    width: 210px !important;
    font-size: 15px !important;
  }
  .adminBtnadd{
    width: 140px !important;
    font-size: 15px !important;
  }
}
@media(max-width:1200px){
  .detailContainer{
    width: 100% !important;
    height: 90vh;
  }
  .loginForm{
    width: 70vw;
  }
  .signupForm{
    width: 70vw;
  }
}
@media(max-width:1024px){
  .sliderImage{
    height: 40vh !important;
  }
  .detailContainer{
    margin-top: 5%;
    margin-bottom: 1%;
    width: 60% !important;
    height: 100vh !important;
    display: flex !important;
  }
  .detailImg{
    margin-top: 0% !important;
  }
  .navbar{
    padding-bottom: 0 !important;
  }
  .cartIcon{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 2%;
  }
  .navInputs{
    margin-top: 3%;
    margin-bottom: 2.5%;
  }
  .navInputs input{
    width: 100%;
  }
  .navInputs select{
    width: 100%;
  }
  .btnOrAvatarDiv{
    display: flex;
    justify-content: center;
  }
}
/* admin panel responsiveness */
@media(max-width:950px){
  .adminDash{
    display: flex !important;
    flex-direction: column !important;
  }
  .adminContainer1{
    display: flex !important;
    width: 100% !important;
    height: 62vh !important;
  }
  .adminContainer2{
    display: flex !important;
    width: 100% !important;
    height: 50vh !important;
  }
  .adminBtn{
    width: 99% !important;
  }
}
@media(max-width:600px){
  .sliderImage{
    height: 30vh !important;
  }
  .cartIcon{
    margin-top: 8%;
    margin-bottom: 5%;
  }
  .navInputs{
    margin-top: 5%;
    margin-bottom: 4%;
  }
  .loginForm{
    width: 90vw;
  }
  .signupForm{
    width: 90vw;
  }
  .detailContainer{
    width: 80% !important;
  }
}
@media(max-width:430px){
  .navbar{
    padding-left: 3% !important;
    padding-right: 0% !important;
    padding-top: 2% !important;
  }
  .navIconPadding{
   padding: 1% !important;
  }
  .nav-heading{
    font-size: 20px !important;
  }
  .sliderImage{
    height: 19vh !important;
  }
  .navInputs{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .navInputs input{
    width: 100%;
  }
  .navInputs select{
    width: 100%;
  }
  .heading{
    font-size: 28px;
    margin-top: 15%;
 }
 .headingCart{
   font-size: 28px;
   margin-top: 15%;
   margin-bottom: 10%;
  }
  .arrow{
    margin-right: 0% !important;
  }
  /* .cartImg{
    width: 40px !important;
  } */
  .card{
    margin-bottom: 8%;
    /* height: 73.5vh; */
    width: 350px;
  }
  .detailContainer{
    margin-top: 8%;
    width: 85% !important;
  }
  .detailImg{
    width: 250px !important;
    height: 35vh !important;
  }
  .detailCartbtn{
    font-size: small;
    width: 100% !important;
    margin-top: 4%;
    display: flex;
    justify-content: center;
  }
  .detailBtnPriceDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100% !important;
  }
  .cartDiv{
    width: 80vw !important;
  }
  .cartDiv h1{
    font-size: 25px !important;
  }
}
@media(max-width:370px){
  .card{
    width: 325px;
  }
}
@media(max-width:300px){
  .nav-heading{
    font-size: 15px !important;
  }
}
/* Responsiveness End */